<launch>
	<node name="publishMarkersInfo" pkg="ik" type="publishMarkersInfo.py"/>
	<node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py"/>

	<include file="$(find baxter_moveit_config)/launch/move_group.launch" />
	<include file="$(find ar_track_alvar)/launch/baxter_indiv_no_kinetc.launch" />
</launch>